name: CI
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  snapshot-release:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          # This checks out the source branch of the PR
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Git Fetch
        run: git fetch --force --tags
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - name: Run Unit Tests
        run: make unit-test
      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Cleanup for renovate
        if: startsWith(github.head_ref, 'renovate/')
        run: make renovate-fix
      - name: Save renovate changes
        if: startsWith(github.head_ref, 'renovate/')
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Saving results of scripts/renovate_fix.sh"
      - name: Go Snapshot Release
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: ~> v2
          args: release --snapshot --clean --skip=publish
