name: Pull Request Go Releaser

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  checks: write
  
jobs:
  snapshot-release:
    runs-on: ubuntu-22.04
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Git Fetch
        run: git fetch --force --tags
      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version: stable
      - name: Run Unit Tests
        run: make unit-test
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Unit Test Results
          path: ./build/reports/**-test.xml
          reporter: java-junit
          fail-on-error: 'true'
      - name: Upload Reports
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: unit-test-reports
          path: ./build/reports/**

      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Go Snapshot Release
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --snapshot --clean --skip-publish
